.home {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1e2432;
  font: .9rem sans-serif;
  align-items: center;
  background: url(bg-pic.jpg);
  background-position: 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}
.city{
  color: #1e2432;
  font: .9rem sans-serif;
  background: hsla(0,0%,98%,.85);
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 0 hsla(0,0%,6%,.404);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 8%;
  max-width: 50vw;
  min-width: 300px;
}
h2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.city-data{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
pre, h1{
  letter-spacing: .05em;
  text-transform: uppercase;
}
h1{
  font-size:xx-large;
  font-weight: bold;
  margin-bottom: 20px;
}
.city-name p{
  margin-top: 0.5em;
  font-size: 2em;
  word-wrap:normal;
  font-size:medium ;
}
.city-name sup{
  font: .9rem sans-serif;
  font-size: .8em;
  background: #ff8c00;
  border-radius: 30px;
  color: #fff;
  padding: .2em .6em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.search{
  border: none;
  min-width: 26vw;
  border-radius: 20px;
  margin-bottom: 5%;
  outline: none;
  padding: 20px 7%;
  background: hsla(0,0%,98%,.85);
}
